@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    --primary-color:rgb(77, 14, 136);
    color: rgb(241, 91, 91);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Josefin Sans', sans-serif;
    color:var(--primary-color) ;
    background-color:lightskyblue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-family: 'Staatliches', cursive;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 15px;
}

input {
    padding: 10px;
    max-width: 400px;
    width: 60%;
    border: 2px solid var(--primary-color);
}

button {
    margin: 30px auto;
    padding: 10px 20px;
    display: block;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 3px;
    color: var(--primary-color);
    background-color:transparent;
    border: 2px solid var(--primary-color);
    transition: all 0.25s ease-in-out 0s;
}

button:hover {
    background-color: var(--primary-color);
    color: white;
}

#output-div {
    margin: 20px;
    padding: 10px;
    font-size: 1.3rem;
}

/* footer */

footer {
    min-height: 6vh;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

footer ul li {
    list-style: none;
    margin: 10px;
    padding: 5px;
}

footer ul li a {
    color: rgb(77, 14, 136);
}

.greenBgColor {
    background-color: green;
}

.redBgColor {
    background-color: red;
}